.container {
  /* min-height: 100vh; */
  /* background-color: rgba(128, 128, 128, 0.557); */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}
.innerContainer {
  /* width: 500px;
  height: 500px; */
}
.btnBlack,
.header,
.btnGray {
  /* height: 60px; */
  /* background-color: black;
  color: white; */
}
.mainResult {
  /* padding-left: 1rem; */
  /* background-color: white; */
  /* display: flex;
  align-items: center; */
  /* color: black; */
}
.resultRelated {
  /* display: grid;
  grid-template-columns: 75% 25%; */
}

.clear {
  /* background-color: rgb(23, 154, 102); */
  /* color: white; */
}
.operandAndOperators {
  /* display: grid;
  grid-template-columns: 75% 25%; */
}
.operands {
  /* display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%; */
}
.operators {
  /* display: flex;
  flex-direction: column; */
}
/* .header {
  height: 60px;
}
.btnGray {
  height: 60px;
  /* color: white;
  background-color: gray; }*/
